{% extends 'portfolio/layout.html' %}

{% block content %}
    <h3>Edit Teacher</h3>
    
    <form action="{% url 'portfolio:edit_teacher' teacher.id %}" method="post" enctype='multipart/form-data'>
      {% csrf_token %}
      {{ form.as_p }}
      <input type="submit" value="Save">
    </form>  
    
    <a href="{% url 'portfolio:teacher' teacher.id %}">
      <button>Cancel</button>
    </a>

    <a href="{% url 'portfolio:delete_teacher' teacher.id %}">
      <button>Delete Teacher</button>
    </a>

{% endblock %}