{% extends 'portfolio/layout.html' %}

{% block content %}
    <h3>Edit Certification</h3>
    
    <form action="{% url 'portfolio:edit_certification' certification.id %}" method="post" enctype='multipart/form-data'>
      {% csrf_token %}
      {{ form.as_p }}
      <input type="submit" value="Save">
    </form>  
    
    <a href="{% url 'portfolio:certification' certification.id %}">
      <button>Cancel</button>
    </a>

    <a href="{% url 'portfolio:delete_certification' certification.id %}">
      <button>Delete Certification</button>
    </a>

{% endblock %}