{% extends 'portfolio/layout.html' %}

{% block content %}
    <h3>Edit Project</h3>
    
    <form action="{% url 'portfolio:edit_project' project.id %}" method="post" enctype='multipart/form-data'>
      {% csrf_token %}
      {{ form.as_p }}
      <input type="submit" value="Save">
    </form>  
    
    <a href="{% url 'portfolio:project' project.id %}">
      <button>Cancel</button>
    </a>

    <a href="{% url 'portfolio:delete_project' project.id %}">
      <button>Delete Project</button>
    </a>

{% endblock %}