{% extends 'portfolio/layout.html' %}

{% block content %}
    <h3>Edit Workshop</h3>
    
    <form action="{% url 'portfolio:edit_workshop' workshop.id %}" method="post" enctype='multipart/form-data'>
      {% csrf_token %}
      {{ form.as_p }}
      <input type="submit" value="Save">
    </form>  
    
    <a href="{% url 'portfolio:workshop' workshop.id %}">
      <button>Cancel</button>
    </a>

    <a href="{% url 'portfolio:delete_workshop' workshop.id %}">
      <button>Delete Workshop</button>
    </a>

{% endblock %}