{% extends 'portfolio/layout.html' %}

{% block content %}
<style>
    p img {
        vertical-align: middle;
        padding: 10px;
    }
    li p {
        margin: 0 0 0 0;
    }
</style>

<h2>{{ project }}</h2>
<p>{{ project.uc }}</p>

{% if project.image %}
    <h4>Image</h4>
    <img src='{{ project.image.url }}' width="300px">
{% endif %}

{% if project.video %}
    <p>Video: <a href="{{ project.video }}">{{ project.video }}</a></p>
{% endif %}

{% if project.link %}
    <p>Link: <a href="{{ project.link }}">{{ project.link }}</a></p>
{% endif %}

{% if project.repository %}
    <p>Repository: <a href="{{ project.repository }}">{{ project.repository }}</a></p>
{% endif %}

<h4>Description</h4>
<p>{{ project.description }}</p>

<h4>Applied Concepts</h4>
<p>{{ project.applied_concept }}</p>

<h4>Technologies Used</h4>
<ul>
    {% for tech in project.technologies.all %}
        <li>
            <p>
                <img src="{{ tech.logo.url }}" width="25px"> - {{ tech }} (<a href="{{ tech.link }}">{{ tech.link }}</a>)
            </p>
            <a href="{% url 'portfolio:technology' tech.id %}">
               <button>See More</button>
            </a>
            {% if gestor %}
                <a href="{% url 'portfolio:edit_technology' tech.id %}">
                    <button>Edit Technology</button>
                </a>
                <a href="{% url 'portfolio:delete_technology_project' project.id tech.id %}">
                    <button>Delete Technology</button>
                </a>
            {% endif %}
        </li>
    {% endfor %}
    {% if gestor %}
        <a href="{% url 'portfolio:new_technology_project' project.id %}">
            <button>Add Technology</button>
        </a>
    {% endif %}
</ul>

{% if gestor %}
    <a href="{% url 'portfolio:edit_project' project.id %}">
        <button>Edit Project</button>
    </a>
    <a href="{% url 'portfolio:delete_project' project.id %}">
        <button>Delete Project</button>
    </a>
{% endif %}

{% endblock %}