{% extends 'portfolio/layout.html' %}

{% block content %}
<style>
    li h4{
        margin: 5 0 5 0;
    }
</style>

<h2>{{ uc }} - <a href="{% url 'portfolio:course' uc.course.id %}">{{ uc.course }}</a></h2>
<p>{{ uc.year }}º year {{ uc.semester }}º semester</p>

{% if uc.image %}
    <h4>Image</h4>
    <img src='{{ uc.image.url }}' width="300px">
{% endif %}

<h4>Description</h4>
<p>{{ uc.description }}</p>

<h4>Program</h4>
<p>{{ uc.program }}</p>

<h4>Objectives</h4>
<p>{{ uc.objectives }}</p>

<h4>Teachers</h4>
<ul>
    {% for teacher in uc.teachers.all %}
        <li>
            <h4>{{ teacher }} - {{ teacher.email }}</h4>
            <a href="{% url 'portfolio:teacher' teacher.id %}">
                <button>See More</button>
            </a>
            {% if gestor %}
            <a href="{% url 'portfolio:edit_teacher' teacher.id %}">
                <button>Edit Teacher</button>
            </a>
            <a href="{% url 'portfolio:delete_teacher' teacher.id %}">
                <button>Delete Teacher</button>
            </a>
        {% endif %}
        </li>
    {% endfor %}
    {% if gestor %}
    <a href="{% url 'portfolio:new_teacher' uc.id %}">
        <button>Add Teacher</button>
    </a>
{% endif %}
</ul>


{% if gestor %}
    <a href="{% url 'portfolio:edit_uc' uc.id %}">
        <button>Edit UC</button>
    </a>
    <a href="{% url 'portfolio:delete_uc' uc.id %}">
        <button>Delete UC</button>
    </a>
{% endif %}

{% endblock %}